<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>Welcome to Session Shopping</h1>
    <h2>Kindly Select your items</h2>
    <a href="/addItem">Add Item</a>
    <a href="/displayItem">Display Item</a>
    <br>
    <p># to get session time and set </p>
    <b>Session expiry time in Seconds: {{request.session.get_expiry_age}}</b> <br>
    <b>Session expiry time in Seconds: {{request.session.get_expiry_date}}</b>
</body>
</html>